@font-face {
  font-family: "Bitter";
  src: url(Bitter-Regular.ttf) format("truetype");
}
body {
  background-color: white; /* sets background color to light grey*/
  font-family: "Bitter";
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
